{# app/Resources/views/order/valid.html.twig #}

{% extends "main/base.html.twig" %}

{% block content %}

<h1 class="h3 text-center text-success border border-success">Votre commande est validée!</h1>

{% endblock content %}