<footer>
    <div class="font-weight-light border-top pt-2 mt-5">
        <p class="text-center">© Stéphane Chaunard 2019{% if 'now'|date('Y') > 2019 %} - {{ 'now'|date('Y') }} {% endif %} pour 5euros</p>
    </div>
</footer>